li a {
    color: green;
}
/*
body {
    background: white url("images/background.png") no-repeat;
}
*/

/* Default background for index.html */
.index-bg {
    background: white url("../images/background.png") no-repeat;
    background-size: cover;
}

/* Background for detail.html */
.detail-bg {
    background: white url("../images/detail.jpeg") no-repeat;
    background-size: cover;
}
